@charset 'UTF-8';
div.container{
    margin-top: 1em;
    
}
div.sobre{
        line-height: 1.3em;
        text-align: justify;
}
div.sobre h1{
    color: #333;
    background-color: #777;
    font-size: 1.8em;
    padding: 0.3em 0.2em;
    margin-bottom: 0.5em;
}
div.sobre h2{
    color: #333;
    padding: 0.2em 0.2em;
    border-bottom: 1px solid #333;
    margin-bottom:0.8em ;
    margin-top: 1em;
}
div.sobre h3{
    color: blue;
    text-align: center;
    background-color: #a0a0a0;
    font-size: 1.5em;
    padding: 0.6em;
    margin: 1em 0;
}
div.sobre p{
    text-indent: 1.2em;
    padding: 0.4em 0.5em;
}
figure{
    max-width: max-content;
    border-radius: 5px;
    background-color: #F2EDED;
    border: 1px	solid	#ccc;
    text-align:	center;
    padding: 0.7em 0.5em;
    margin-bottom: 0.4em;
    margin: auto;
}
figure img{
    max-width: 100%;
}
div.sobre ul{
    padding:0 1.8em;
}
/*Sobre media Queries
extra small device 600
small device portrait tablets and large phones, 600 up
medium devices , landscape tablets, 768 and up
large device , laptop desktop 992px
extra large devices lap and desk, 1200px*/
@media only screen and (min-width:780px){
        div.sobre p{
            padding:7px 2em;
        }
        figure.polho{
            float: right;
            margin: 0 10px;
        }
        ul{
            margin-left:1em;
        }
}
